// ==========================================================================
// Footer
// ==========================================================================

footer {
	background-color: palette(black);
	text-align: center;
	padding-top: 2em;
	padding-bottom: 3em;
	
	img {
		@extend %logo;
	}
	
	@include mq(medium) {
		li {
			display: inline-block;
			padding-left: 1em;
			padding-right: 1em;
		}
	}
	
	nav {
		
		.selected {
			color:white;
		}
		
		a {
			transition-duration: .5s;
			transition-property: color;
		}
		
		a:hover {
			color: white;
		}
	}
}


