// ==========================================================================
// Images
// ==========================================================================

%logo {
	height: 4em;
	width: 4em;
}

%list {
	height: 3em;
	width: 3em;
}

%profile {
	height: 11.5em;
	width: 13em;
	border-radius: 100%;
}

%profile-wide {
	height: 12em;
	width: 14em;
	border-radius: 100%;
}

